{% extends 'base.html' %}


{% block content %}
      <h1>Administradores</h1>
        <div class="admins-container">
          {% for admin in administradores %}
            <div class="admin-card">
              <h3>{{ admin.nombre }} {{ admin.apellido }}</h3>
              <p>Email: {{ admin.email }}</p>
              <p>Teléfono: {{ admin.telefono }}</p>
              <p>Contraseña: {{admin.psw}}</p>
              <a href="{{ url_for('editar_admin', id=admin.id_usuario) }}">✏️ Editar</a>
            </div>
          {% endfor %}
        </div>
    

{% endblock %}

