{% extends 'base.html' %}


{% block content %}
      <h1>Administradores</h1>
        <div class="admins-container">
            <div class="admin-card">
              <h3>{{ administrador.Nombre }} {{ administrador.Apellido }}</h3>
              <p>Email: {{ administrador.Email }}</p>
              <p>Teléfono: {{ administrador.Telefono }}</p>
              <a href="{{ url_for('editar_admin', id=administrador.id_usuario) }}">✏️ Editar</a>
            </div>
        </div>
    

{% endblock %}

