{% extends 'base.html' %}

{% block content %}
    <h1>Editar administrador</h1>
<form method="POST">
  <label>Nombre:</label>
  <input type="text" name="Nombre" value="{{ usuario.nombre }}"><br>

  <label>Apellido:</label>
  <input type="text" name="Apellido" value="{{ usuario.apellido }}"><br>

  <label>Teléfono:</label>
  <input type="text" name="Telefono" value="{{ usuario.telefono }}"><br>

  <label>Email:</label>
  <input type="email" name="Email" value="{{ usuario.email }}"><br>

  <button type="submit">Guardar cambios</button>
</form>
{% endblock %}
    
