    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Sobre nosotros</h3>
                <p>En TanObsesion transformamos tu pelo con técnicas modernas y productos profesionales. Abrimos de lunes a sábado: 08:00–12:00 y 16:00–21:00. Ofrecemos cortes, mechas y colores personalizados, tratamientos de reparación e hidratación profunda, y asesoramiento de productos para tu rutina. Nuestro equipo está capacitado para todo tipo de cabello. Pedí tu turno por teléfono, WhatsApp o nuestra web.</p>
            </div>
            <div class="footer-section">
                <h3>Contactanos</h3>
                <section>
                    <a href="https://www.instagram.com/tanobsession.ms/" target="_blank">Instagram</a>
                    <p><a href="tel:+5493777533115">Telefono</a></p>
                    <p><a href="mailto:tanobsession@gmail.com">Correo</a></p>
                </section>
            </div>
            <div class="footer-section">
                    <h3>Encuentranos</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4183.979038695085!2d-59.26437876872916!3d-29.14744139617923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944e85003372faab%3A0x5496b24840fd93a6!2sSal%C3%B3n%20tan%20obsession!5e0!3m2!1ses!2sus!4v1762823515974!5m2!1ses!2sus" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>
        <div class="footer-section">
            <h3>Desarrollo Web</h3>
            <a href="https://wa.link/4oa2z0" target="_blank">WhatsApp</a>
            <a href="https://www.linkedin.com/in/lucas-manera-ba7309359/">LinkedIn</a>
            <a href="mailto:lucas.emiliano.manera@gmail.com">Email</a>
        </div>
    </footer>