{% extends 'base.html' %}




{% block content %}
  <div class="carrusel-container">
    <h2>Novedades</h2>
    <div class="carrusel" id="carrusel-novedades">
      <button class="restar">-</button>
      <div class="producto"></div>
      <button class="sumar">+</button>
    </div>
  </div>


  <div class="carrusel-container">
  <h2>Más vendidos</h2>
      <div class="carrusel" id="carrusel-mas-vendidos">
        <button class="restar">-</button>
        <div class="producto"></div>
        <button class="sumar">+</button>
      </div>
  </div>
    
  <div class="carrusel-container">
    <h2>Shampoos</h2>
    <div class="carrusel" id="carrusel-shampoo">
      <button class="restar">-</button>
      <div class="producto"></div>
      <button class="sumar">+</button>
    </div>
  </div>
    


        <div id="data"
            data-novedades='{{ novedades|tojson|safe }}'
            data-masvendidos='{{ mas_vendidos|tojson|safe }}'
            data-shampoo='{{ shampoo|tojson|safe }}'>
        </div>

    {% endblock %}


    {% block scripts %}
        <script src="/static/Js/menu_desplegable.js"></script>
    {% endblock %}
