<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-container-btn">
                <p>Logo Boton</p>
            </div>
            <div class="header-menu">
                <div><a href="/login">Iniciar Sesion</a></div>
            </div> 
        </div>
   
    </header>


    <main>
        <div class="products-grid">
            <div>
                
            </div>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>