{% extends 'base.html' %}


{% block content %}
        {% if mensaje %}
        <p>{{ mensaje }}</p>
        {% endif %}

        <form action="" method="post" class="form-insert">
            <h2>Iniciar Sesion</h2>
            <label for="Nombre">Ingrese Su Correo Electronico</label>
            <input type="email" name="Email" placeholder="alguien123@email.com">
            <label for="password">Ingrese su Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña">
            <button type="submit">Logear</button>
        </form>

{% endblock %}