{% extends 'base.html' %}



{% block content %}
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <form method="post" class="form-insert">
        <h2>Registrar a nuevo administrador</h2>
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" placeholder="Nombre" required>
        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" placeholder="Apellido" required>
        <label for="Telefono">Telefono</label>
        <input type="number" name="Telefono" placeholder="Numero Telefonico" required>
        <label for="Email">Correo Electronico</label>
        <input type="email" name="Email" placeholder="Email" required>
        <label for="password">Contraseña</label>
        <input type="password" name="psw" placeholder="Contraseña" required>
        <button type="submit">Registrar</button>
{% endblock %}