{% extends 'base.html' %}
{% block content %}
            <form action="/subir" method="POST" enctype="multipart/form-data" class="form-insert">
            <h2>Subir Producto</h2>
            <label for="name">Ingrese el nombre del producto</label>
            <input type="text" name="nombre" placeholder="Shampo SuperLimpio 375ml">
            <label for="marca">Marca del producto</label>
            <input type="text" name="marca" placeholder="Coalix">
            <label for="descripcion">Ingrese Descripcion del producto</label>
            <input type="text" name="descripcion" placeholder="Shampo ideal para cabellos rizos">
            <label for="precio">Precio</label>
            <input type="text" name="precio" placeholder="5000">
            <label for="contenido">contenido</label>
            <input type="text" name="contenido" placeholder="375ml">
            <label for="stock">Stock</label>
            <input type="text" name="stock" placeholder="1 o 0">
            <label for="imagen">Subir una imagen del producto</label>
            <input type="file" name="imagen" accept="image/*">
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
                <option value="1">Shampo</option>
                <option value="2">Acondicionador</option>
                <option value="3">Tijeras</option>
                <option value="4">Maquinas</option>
            </select>


            <button type="submit">Subir</button>
        </form>
{% endblock %}
